@import "tailwindcss";
@tailwind utilities;

/* Custom webfonts */
@font-face {
  font-family: 'Albertus';
  src: url('./assets/fonts/AlbertusNova/albertusnovathin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albertus';
  src: url('./assets/fonts/AlbertusNova/albertusnovalight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albertus';
  src: url('./assets/fonts/AlbertusNova/albertusnova.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albertus';
  src: url('./assets/fonts/AlbertusNova/albertusnova_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roundhand';
  src: url('./assets/fonts/roundhand/Roundhand Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roundhand';
  src: url('./assets/fonts/roundhand/Roundhand Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

/* Tailwind font utility classes */
@layer utilities {
  .font-albert {
    font-family: 'Albertus', serif;
  }

  .font-montserrat {
    font-family: 'Montserrat', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  }

  .font-roundhand {
    font-family: 'Roundhand', cursive;
  }

  .text-title {
    @apply text-[clamp(0.85rem,0.98rem+0.2vw,1.125rem)] uppercase text-center mb-4;
  }

  .text-title-xl {
    @apply text-[clamp(1.85rem,1.25rem+1.2vw,3.125rem)] text-center font-light mb-4;
  }
}

body {
  margin: 0;
  background-color: #F7F5E9;
  font-family: Georgia, "Times New Roman", serif;
}

.text-title,
.text-title-xl {
  font-family: 'Albertus', serif;
}

.workshop-slider [class*='swiper-button'] {
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 100%;
}

.workshop-slider [class*='swiper-button'] svg {
  fill: #fff;
  color: #fff;
  width: 10px;
}